# Projet Data Science

## Récupération des données

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv(r'C:\Users\wiega\NoteBooks\mails.csv')

c:\users\wiega\appdata\local\programs\python\python38-32\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Nettoyage des données

#### Supression des colonnes entièrement nulle

In [3]:
dataset.drop(['Cat_1_level_1', 'Cat_1_level_2', 'Cat_1_weight', 'Cat_2_level_1',
       'Cat_2_level_2', 'Cat_2_weight', 'Cat_3_level_1', 'Cat_3_level_2',
       'Cat_3_weight', 'Cat_4_level_1', 'Cat_4_level_2', 'Cat_4_weight',
       'Cat_5_level_1', 'Cat_5_level_2', 'Cat_5_weight', 'Cat_6_level_1',
       'Cat_6_level_2', 'Cat_6_weight', 'Cat_7_level_1', 'Cat_7_level_2',
       'Cat_7_weight', 'Cat_8_level_1', 'Cat_8_level_2', 'Cat_8_weight',
       'Cat_9_level_1', 'Cat_9_level_2', 'Cat_9_weight', 'Cat_10_level_1',
       'Cat_10_level_2', 'Cat_10_weight', 'Cat_11_level_2', 'Cat_11_weight',
        'Cat_12_level_1', 'Cat_12_level_2', 'Cat_12_weight', 'Cat_11_level_1' ], axis = 1, inplace = True)

#### Nettoyage des colonnes From et To

In [4]:
for i in range(len(dataset.From)):
    dataset.From[i] = str(dataset.From[i])[11:-2]

for i in range(len(dataset.To)):
    dataset.To[i] = str(dataset.To[i])[11:-2]

<ipython-input-4-ce8bb008f899>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.From[i] = str(dataset.From[i])[11:-2]
<ipython-input-4-ce8bb008f899>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.To[i] = str(dataset.To[i])[11:-2]

In [5]:
print(dataset.From)
print(dataset.To)

0        'phillip.allen@enron.com'
1        'phillip.allen@enron.com'
2        'phillip.allen@enron.com'
3        'phillip.allen@enron.com'
4        'phillip.allen@enron.com'
                   ...
99995     'daren.farmer@enron.com'
99996     'daren.farmer@enron.com'
99997     'daren.farmer@enron.com'
99998     'daren.farmer@enron.com'
99999     'daren.farmer@enron.com'
Name: From, Length: 100000, dtype: object
0              'tim.belden@enron.com'
1           'john.lavorato@enron.com'
2            'leah.arsdall@enron.com'
3             'randall.gay@enron.com'
4              'greg.piper@enron.com'
                     ...
99995    'carlos.rodriguez@enron.com'
99996       'stella.morris@enron.com'
99997        'aimee.lannou@enron.com'
99998          'pat.clynes@enron.com'
99999        'julie.meyers@enron.com'
Name: To, Length: 100000, dtype: object

## Manipulation des données

#### Mail vers l'exterieur de l'entreprise enron

In [12]:
dataset['Internal'] = 'False'
for i in range(len(dataset.From)):
    if(dataset.From[i].split('@')[1]=="enron.com" and dataset.To[i].split('@')[1]=="enron.com"):
        dataset.Internal[i] = 'True'

#### La dimension temps

##### Hour

In [ ]:
dataset['Hour'] = dataset['Date'].apply(lambda x: ((x.split('-')[2]).split(' ')[1]).split(':')[0])

##### Day

In [ ]:
dataset['Day'] = dataset['Date'].apply(lambda x: (x.split('-')[2]).split(' ')[0])

##### Month

In [ ]:
dataset['Month'] = dataset['Date'].apply(lambda x: x.split('-')[1])

##### Year

In [ ]:
dataset['Year'] = dataset['Date'].apply(lambda x: x.split('-')[0])