# Projet data science : Classification de mails

Dans le cadre de l'UE data science effectué cette année, nous avons du réaliser un projet concernant la classification de mails. nous avions comme données de départ un repertoir de mails d'une entreprise nommé ENRON. Au vu de ces données, nous avons proposé la problématique suivante : Comment classer des mails de manière pertinente et les analyser pour en déduire des informations utiles ?

# Sommaire

## 1) Exploration de données

## 2) Nettoyage des données

## 3) Création de nouvelles variables

## 4) Extraction de structures de données sous jacentes et visualisations

## 5) Application de modèles d'apprentissage non supervisé et supervisé

## 6) Conclusion

#

# 1) Exploration des données

Nous avions au départ un ensemble de données concernant les mails envoyé par les employés d'une entreprise nommée ENRON. Notre dataset était donc sous la forme d'un fichier .csv contenant les informations sur 100 000 mails. Le fichier contenait donc 100 000 lignes et 52 colonnes correspondant à des variables decrivant chacunes des mails.

## Initialisation du projet

In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import time

In [2]:
dataset = pd.read_csv('/Users/pierreperrin/Desktop/IG4/semestre7/Projet_DataScience/mails.csv',dtype={"content": str},low_memory=False)

In [3]:
dataset.shape

(100000, 52)

## Nettoyage des données

## Suppression des colonnes nulles ou non pertinentes

In [4]:
dataset.head()

,Unnamed: 0,Message-ID,Date,From,To,Subject,X-From,X-To,X-cc,X-bcc,...,Cat_10_level_1,Cat_10_level_2,Cat_10_weight,Cat_11_level_1,Cat_11_level_2,Cat_11_weight,Cat_12_level_1,Cat_12_level_2,Cat_12_weight,labeled
0,0,<18782981.1075855378110.JavaMail.evans@thyme>,2001-05-14 23:39:00,frozenset({'phillip.allen@enron.com'}),frozenset({'tim.belden@enron.com'}),NaN,Phillip K Allen,Tim Belden <Tim Belden/Enron@EnronXGate>,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,1,<15464986.1075855378456.JavaMail.evans@thyme>,2001-05-04 20:51:00,frozenset({'phillip.allen@enron.com'}),frozenset({'john.lavorato@enron.com'}),Re:,Phillip K Allen,John J Lavorato <John J Lavorato/ENRON@enronXg...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,2,<24216240.1075855687451.JavaMail.evans@thyme>,2000-10-18 10:00:00,frozenset({'phillip.allen@enron.com'}),frozenset({'leah.arsdall@enron.com'}),Re: test,Phillip K Allen,Leah Van Arsdall,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,3,<13505866.1075863688222.JavaMail.evans@thyme>,2000-10-23 13:13:00,frozenset({'phillip.allen@enron.com'}),frozenset({'randall.gay@enron.com'}),NaN,Phillip K Allen,Randall L Gay,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,4,<30922949.1075863688243.JavaMail.evans@thyme>,2000-08-31 12:07:00,frozenset({'phillip.allen@enron.com'}),frozenset({'greg.piper@enron.com'}),Re: Hello,Phillip K Allen,Greg Piper,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

In [5]:
dataset.columns

Index(['Unnamed: 0', 'Message-ID', 'Date', 'From', 'To', 'Subject', 'X-From',
       'X-To', 'X-cc', 'X-bcc', 'X-Folder', 'X-Origin', 'X-FileName',
       'content', 'user', 'Cat_1_level_1', 'Cat_1_level_2', 'Cat_1_weight',
       'Cat_2_level_1', 'Cat_2_level_2', 'Cat_2_weight', 'Cat_3_level_1',
       'Cat_3_level_2', 'Cat_3_weight', 'Cat_4_level_1', 'Cat_4_level_2',
       'Cat_4_weight', 'Cat_5_level_1', 'Cat_5_level_2', 'Cat_5_weight',
       'Cat_6_level_1', 'Cat_6_level_2', 'Cat_6_weight', 'Cat_7_level_1',
       'Cat_7_level_2', 'Cat_7_weight', 'Cat_8_level_1', 'Cat_8_level_2',
       'Cat_8_weight', 'Cat_9_level_1', 'Cat_9_level_2', 'Cat_9_weight',
       'Cat_10_level_1', 'Cat_10_level_2', 'Cat_10_weight', 'Cat_11_level_1',
       'Cat_11_level_2', 'Cat_11_weight', 'Cat_12_level_1', 'Cat_12_level_2',
       'Cat_12_weight', 'labeled'],
      dtype='object')

On peut voir toutes les variables que l'on a sur ces mails

In [6]:
test = dataset[['Cat_1_level_1', 'Cat_1_level_2', 'Cat_1_weight', 'Cat_2_level_1',
       'Cat_2_level_2', 'Cat_2_weight', 'Cat_3_level_1', 'Cat_3_level_2',
       'Cat_3_weight', 'Cat_4_level_1', 'Cat_4_level_2', 'Cat_4_weight',
       'Cat_5_level_1', 'Cat_5_level_2', 'Cat_5_weight', 'Cat_6_level_1',
       'Cat_6_level_2', 'Cat_6_weight', 'Cat_7_level_1', 'Cat_7_level_2',
       'Cat_7_weight', 'Cat_8_level_1', 'Cat_8_level_2', 'Cat_8_weight',
       'Cat_9_level_1', 'Cat_9_level_2', 'Cat_9_weight', 'Cat_10_level_1',
       'Cat_10_level_2', 'Cat_10_weight', 'Cat_11_level_1', 'Cat_11_level_2',
       'Cat_11_weight', 'Cat_12_level_1', 'Cat_12_level_2', 'Cat_12_weight']]

In [7]:
test.isna().sum()

Cat_1_level_1      99790
Cat_1_level_2      99790
Cat_1_weight       99790
Cat_2_level_1      99800
Cat_2_level_2      99800
Cat_2_weight       99800
Cat_3_level_1      99834
Cat_3_level_2      99834
Cat_3_weight       99834
Cat_4_level_1      99896
Cat_4_level_2      99896
Cat_4_weight       99896
Cat_5_level_1      99943
Cat_5_level_2      99943
Cat_5_weight       99943
Cat_6_level_1      99979
Cat_6_level_2      99979
Cat_6_weight       99979
Cat_7_level_1      99990
Cat_7_level_2      99990
Cat_7_weight       99990
Cat_8_level_1      99998
Cat_8_level_2      99998
Cat_8_weight       99998
Cat_9_level_1      99999
Cat_9_level_2      99999
Cat_9_weight       99999
Cat_10_level_1     99999
Cat_10_level_2     99999
Cat_10_weight      99999
Cat_11_level_1    100000
Cat_11_level_2    100000
Cat_11_weight     100000
Cat_12_level_1    100000
Cat_12_level_2    100000
Cat_12_weight     100000
dtype: int64

On peut donc voir que pour toutes ce colonnes sont composées principalement de valeurs nulles c'est donc pour cela que l'on decide de les supprimer.

In [8]:
dataset.drop(['Cat_1_level_1', 'Cat_1_level_2', 'Cat_1_weight', 'Cat_2_level_1',
       'Cat_2_level_2', 'Cat_2_weight', 'Cat_3_level_1', 'Cat_3_level_2',
       'Cat_3_weight', 'Cat_4_level_1', 'Cat_4_level_2', 'Cat_4_weight',
       'Cat_5_level_1', 'Cat_5_level_2', 'Cat_5_weight', 'Cat_6_level_1',
       'Cat_6_level_2', 'Cat_6_weight', 'Cat_7_level_1', 'Cat_7_level_2',
       'Cat_7_weight', 'Cat_8_level_1', 'Cat_8_level_2', 'Cat_8_weight',
       'Cat_9_level_1', 'Cat_9_level_2', 'Cat_9_weight', 'Cat_10_level_1',
       'Cat_10_level_2', 'Cat_10_weight', 'Cat_11_level_1', 'Cat_11_level_2','Cat_11_weight', 'Cat_12_level_1', 'Cat_12_level_2', 'Cat_12_weight'], axis = 1, inplace = True)

De même les colonnes 'X-From', 'X-To', 'X-FileName', 'X-FileName', et 'Unnamed: 0' ne parraissent pas utilent pour nos analyses donc on peut les supprimer.

In [9]:
dataset.drop(['X-From', 'X-To', 'X-FileName', 'X-FileName', 'Unnamed: 0'], axis = 1, inplace = True)

Nous avons par la suite regardé les colones 'X-cc', 'X-bcc'

In [10]:
# nombre de mail ou il n'y a pas de bcc
dataset['X-bcc'].isna().sum()

99966

Au vue du nombre important de donnée nulle, on peut considérer la suppression de la colonne

In [12]:
dataset.drop(['X-bcc'], axis = 1, inplace = True)

In [13]:
# nombre de mail ou il n'y a pas de cc
dataset['X-cc'].isna().sum()

78253

Concernant les cc nous avons déja plus de mails qui comporte des cc donc nous décidons de la garder

## Nettoyage colonne From et To

In [14]:
#From
for i in range(len(dataset.From)):
    dataset.From[i] = str(dataset.From[i])[11:-2]

#To
for i in range(len(dataset.To)):
    dataset.To[i] = str(dataset.To[i])[11:-2]

<ipython-input-14-38aace425442>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.From[i] = str(dataset.From[i])[11:-2]
<ipython-input-14-38aace425442>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.To[i] = str(dataset.To[i])[11:-2]